Business count by Industry Group

In [1]:
from gssutils import *
if is_interactive():
    scraper = Scraper('https://www.uktradeinfo.com/Statistics/OverseasTradeStatistics/AboutOverseastradeStatistics/Pages/OTSReports.aspx')
    display(scraper)
    scraper.select_dataset(title=lambda x: x.startswith('UK Trade in Goods by Business Characteristics'))
    display(scraper)
    idbrs = sorted(
        [dist for dist in scraper.distributions if dist.title.startswith('IDBR OTS tables')],
        key=lambda d: d.title, reverse=True)
    idbr = idbrs[0]
    display(idbr.title)
    tabs = {tab.name: tab for tab in idbr.as_databaker()}
    display(tabs.keys())

In [4]:
tab = tabs['Industry Group']

In [5]:
savepreviewhtml(tab)

In [6]:
observations = tab.excel_ref('C28').expand(DOWN).expand(RIGHT).is_not_blank()-tab.excel_ref('C27').expand(UP)

In [7]:
observations = observations - tab.excel_ref('C41').expand(DOWN).expand(RIGHT)

In [8]:
Industrygroup = tab.excel_ref('A').expand(DOWN)

In [9]:
Flow = tab.excel_ref('C6').expand(RIGHT)

In [10]:
Dimensions = [
            HDimConst('Geography', 'K02000001'),
            HDimConst('Year','2015'),
            HDimConst('Unit', 'Businesses'), 
            HDimConst('Measure Type','Count'),            
            HDim(Industrygroup, 'HMRC Industry', DIRECTLY, LEFT),
            HDim(Flow, 'Flow', CLOSEST, LEFT)    
]

In [11]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)

In [12]:
savepreviewhtml(c1)

In [13]:
new_table = c1.topandas()

In [14]:
new_table.rename(index= str, columns= {'OBS':'Value'}, inplace = True)

In [15]:
new_table['Flow'] = new_table['Flow'].str.rstrip('s')

In [16]:
new_table.head(3)

,Value,Geography,Year,Unit,Measure Type,HMRC Industry,Flow
0,6847.0,K02000001,2015,Businesses,Count,Group 1 Agriculture and Food,Export
1,11637.0,K02000001,2015,Businesses,Count,Group 1 Agriculture and Food,Import
2,1700.0,K02000001,2015,Businesses,Count,"Group 2 Mining, Petroleum products and Waste",Export

In [17]:
# new_table['HMRC Industry'] = new_table['HMRC Industry'].str.lstrip('Group 0123456789')

In [18]:
# new_table['HMRC Industry'] = new_table['HMRC Industry'].map(lambda x: str(x)[8:])

In [19]:
new_table['HMRC Industry'] = new_table['HMRC Industry'].map(lambda x: str(x)[0:8])

In [20]:
new_table['HMRC Industry'] = new_table['HMRC Industry'].map(lambda cell: cell.replace('Group ', 'group-'))

In [21]:
new_table['HMRC Industry'] = new_table['HMRC Industry'].str.strip()
# new_table['Product'] = new_table['Product'].str.strip()
new_table['Year'] = new_table['Year'].str.strip()
new_table['Flow'] = new_table['Flow'].str.strip()
new_table['Unit'] = new_table['Unit'].str.strip()
new_table['Measure Type'] = new_table['Measure Type'].str.strip()
new_table['Geography'] = new_table['Geography'].str.strip()

In [22]:
new_table = new_table[['Geography','Year','HMRC Industry','Flow','Measure Type','Value','Unit']]

In [23]:
# def user_perc(x):
    
#     if x.strip(' ') == '':
#         return 'NA'
# #     else:
#         return x
    
# new_table['HMRC Industry'] = new_table.apply(lambda row: user_perc(row['HMRC Industry']), axis = 1)

In [24]:
new_table['Value'] = new_table['Value'].astype('int', copy=False)

In [25]:
new_table

    Geography  Year HMRC Industry    Flow Measure Type   Value        Unit
0   K02000001  2015       group-1  Export        Count    6847  Businesses
1   K02000001  2015       group-1  Import        Count   11637  Businesses
2   K02000001  2015       group-2  Export        Count    1700  Businesses
3   K02000001  2015       group-2  Import        Count    2067  Businesses
4   K02000001  2015       group-3  Export        Count    1491  Businesses
5   K02000001  2015       group-3  Import        Count    1464  Businesses
6   K02000001  2015       group-4  Export        Count     222  Businesses
7   K02000001  2015       group-4  Import        Count     269  Businesses
8   K02000001  2015       group-5  Export        Count    4107  Businesses
9   K02000001  2015       group-5  Import        Count    4289  Businesses
10  K02000001  2015       group-6  Export        Count    3391  Businesses
11  K02000001  2015       group-6  Import        Count    3323  Businesses
12  K02000001  2015       group-7  Export        Count    1298  Businesses
13  K02000001  2015       group-7  Import        Count    1370  Businesses
14  K02000001  2015       group-8  Export        Count     185  Businesses
15  K02000001  2015       group-8  Import        Count     196  Businesses
16  K02000001  2015       group-9  Export        Count   13073  Businesses
17  K02000001  2015       group-9  Import        Count   13799  Businesses
18  K02000001  2015      group-10  Export        Count  105074  Businesses
19  K02000001  2015      group-10  Import        Count  164572  Businesses
20  K02000001  2015       Unknown  Export        Count    5970  Businesses
21  K02000001  2015       Unknown  Import        Count   16316  Businesses
22  K02000001  2015         Total  Export        Count  143358  Businesses
23  K02000001  2015         Total  Import        Count  219302  Businesses