In [2]:
from gssutils import *

scraper = Scraper('https://www.uktradeinfo.com/Statistics/OverseasTradeStatistics/AboutOverseastradeStatistics/Pages/OTSReports.aspx')
scraper

WARNING:Dataset is published at gov.uk, see https://www.gov.uk/government/statistics/uk-trade-in-goods-by-business-characteristics-2017
WARNING:Unable to parse published date ('String does not contain a date:', '')
WARNING:Dataset is published at gov.uk, see https://www.gov.uk/government/statistics/2017-uk-vat-registered-importer-and-exporter-population
WARNING:Dataset is published at gov.uk, see https://www.gov.uk/government/statistics/2016-uk-vat-registered-importer-and-exporter-population

## HM Revenue & Customs uktradeinfo - OTS Reports

This is a catalog of datasets; choose one from the following:

* Midlands Regional Trade Statistics data 2014-2016
* 2015 UK VAT Registered Importer and Exporter Population
* Overseas Trade Statistics broken down by English Growth Hub areas - EU and non-EU Exports 2015
* UK Trade in Goods by Business Characteristics - Experimental Statistics
* 2010 Quinquennial Review of the UK Ancillary Cost Survey (ACS) full report
* Quality Report
* UK Statistics article
* 2009 Intrastat Triennial Final Report
* EDICOM Technical Implementation Report
* 2005 Intrastat Triennial Review V2.0
* EDICOM Report
* EDICOM Report

In [3]:
scraper.select_dataset(title=lambda x: x.startswith('UK Trade in Goods by Business Characteristics'))
scraper

## UK Trade in Goods by Business Characteristics - Experimental Statistics

### Distributions

1. UK Trade in Goods by Business Characteristics - Experimental Statistics ([application/pdf](https://www.uktradeinfo.com/Statistics/Documents/Reports/IDBR_OTS_2015.pdf))
1. IDBR OTS tables 2015 ([MS Excel Spreadsheet](https://www.uktradeinfo.com/Statistics/Documents/Reports/IDBR_OTS_tables_2015.xls))
1. IDBR OTS Country data (expert users) 2015 ([MS Excel Spreadsheet](https://www.uktradeinfo.com/Statistics/Documents/Reports/IDBR_OTS_%20Country_data_expert_2015.xls))
1. UK Trade in Goods by Business Characteristics - Experimental Statistics ([application/pdf](https://www.uktradeinfo.com/Statistics/Documents/Reports/IDBR_OTS_2014.pdf))
1. IDBR OTS tables 2014 ([MS Excel Spreadsheet](https://www.uktradeinfo.com/Statistics/Documents/Reports/IDBR_OTS_tables_2014.xls))
1. IDBR OTS Country data (expert users) 2014 ([MS Excel Spreadsheet](https://www.uktradeinfo.com/Statistics/Documents/Reports/IDBR_OTS_%20Country_data_expert_2014.xls))
1. UK Trade in Goods by Business Characteristics - Experimental Statistics ([application/pdf](https://www.uktradeinfo.com/Statistics/Documents/Reports/IDBR_OTS_2013.pdf))
1. IDBR OTS tables 2013 ([MS Excel Spreadsheet](https://www.uktradeinfo.com/Statistics/Documents/Reports/IDBR_OTS_tables_2013.xls))
1. IDBR OTS Country data (expert users) 2013 ([MS Excel Spreadsheet](https://www.uktradeinfo.com/Statistics/Documents/Reports/IDBR_OTS_Country_data%20_expert_2013.xls))
1. UK Trade in Goods by Business Characteristics - Experimental Statistics ([application/pdf](https://www.uktradeinfo.com/Statistics/OverseasTradeStatistics/AboutOverseastradeStatistics/Documents/IDBR_OTS_2012.pdf))
1. IDBR OTS tables 2009 - 2012 ([MS Excel Spreadsheet](https://www.uktradeinfo.com/Statistics/OverseasTradeStatistics/AboutOverseastradeStatistics/Documents/IDBR_OTS_tables_2009_to_2012.xls))
1. IDBR OTS Country data (expert users) 2009 - 2012 ([MS Excel Spreadsheet](https://www.uktradeinfo.com/Statistics/OverseasTradeStatistics/AboutOverseastradeStatistics/Documents/IDBR_OTS_Country_2009_to_2012.xls))

In [4]:
idbrs = sorted(
    [dist for dist in scraper.distributions if dist.title.startswith('IDBR OTS tables')],
    key=lambda d: d.title, reverse=True)
idbr = idbrs[0]
display(idbr.title)
tabs = {tab.name: tab for tab in idbr.as_databaker()}
tabs.keys()

'IDBR OTS tables 2015'

dict_keys(['Notes and Contents', 'Industry Group', 'Age Group', 'Employee Size', 'Industry_Age', 'Industry_EmployeeSize', 'EmployeeSize_Age', 'Metadata'])

In [5]:
%%capture

processors = [
    "Business count by Age of Business.ipynb",
    "Business count by Employee Size.ipynb",
    "Business count by Industry Group.ipynb",
    "Employee count for Businesses by Age of Business.ipynb",
    "Employee count for Businesses by Employee Size.ipynb",
    "Employee count for Businesses by Industry Group.ipynb",
    "Total value of UK trade by Age of Business.ipynb",
    "Total value of UK trade by Employee Size.ipynb",
    "Total value of UK trade by Industry Group.ipynb",
    "TRADE IN GOODS STATISTICS -Business Count.ipynb",
    "TRADE IN GOODS STATISTICS -Employee Count and age business.ipynb",
    "TRADE IN GOODS STATISTICS -Employee Count and age employee count.ipynb",
    "TRADE IN GOODS STATISTICS -Employee Count and age.ipynb",
    "TRADE IN GOODS STATISTICS -Employee Count.ipynb",
    "TRADE IN GOODS STATISTICS -total value of UK Trade.ipynb",
    "TRADE IN GOODS STATISTICS_Employee size_Businesses.ipynb",
    "TRADE IN GOODS STATISTICS_Employee size_Employee count.ipynb",
    "TRADE IN GOODS STATISTICS_Employee size_value.ipynb"
]

def create_table(proc):
    %run "$proc"
    return new_table

final_table = pd.concat(create_table(p) for p in processors)

In [6]:
final_table.fillna('Total', inplace = True)
final_table

,Age of Business,Employment,Flow,Geography,HMRC Industry,Measure Type,Unit,Value,Year
0,0 to 1 years,Total,Export,K02000001,Total,Count,Businesses,10515,2015
1,0 to 1 years,Total,Import,K02000001,Total,Count,Businesses,21541,2015
2,2 to 3 years,Total,Export,K02000001,Total,Count,Businesses,13308,2015
3,2 to 3 years,Total,Import,K02000001,Total,Count,Businesses,22043,2015
4,4 to 5 years,Total,Export,K02000001,Total,Count,Businesses,12088,2015
5,4 to 5 years,Total,Import,K02000001,Total,Count,Businesses,18430,2015
6,6 to 9 years,Total,Export,K02000001,Total,Count,Businesses,20136,2015
7,6 to 9 years,Total,Import,K02000001,Total,Count,Businesses,29117,2015
8,10 to 20 years,Total,Export,K02000001,Total,Count,Businesses,36292,2015
9,10 to 20 years,Total,Import,K02000001,Total,Count,Businesses,49196,2015
10,20 + years,Total,Export,K02000001,Total,Count,Businesses,40773,2015
11,20 + years,Total,Import,K02000001,Total,Count,Businesses,53659,2015
12,Unknown years,Total,Export,K02000001,Total,Count,Businesses,10246,2015
13,Unknown years,Total,Import,K02000001,Total,Count,Businesses,25316,2015
14,Total years,Total,Export,K02000001,Total,Count,Businesses,143358,2015
15,Total years,Total,Import,K02000001,Total,Count,Businesses,219302,2015
0,Total,0 employees,Export,K02000001,Total,Count,Businesses,9156,2015
1,Total,0 employees,Import,K02000001,Total,Count,Businesses,14983,2015
2,Total,1 to 9 employees,Export,K02000001,Total,Count,Businesses,77281,2015
3,Total,1 to 9 employees,Import,K02000001,Total,Count,Businesses,117876,2015
4,Total,10 to 49 employees,Export,K02000001,Total,Count,Businesses,33128,2015
5,Total,10 to 49 employees,Import,K02000001,Total,Count,Businesses,45094,2015
6,Total,50 to 249 employees,Export,K02000001,Total,Count,Businesses,10579,2015
7,Total,50 to 249 employees,Import,K02000001,Total,Count,Businesses,13566,2015
8,Total,250 + employees,Export,K02000001,Total,Count,Businesses,3468,2015
9,Total,250 + employees,Import,K02000001,Total,Count,Businesses,4446,2015
10,Total,Unknown employees,Export,K02000001,Total,Count,Businesses,9746,2015
11,Total,Unknown employees,Import,K02000001,Total,Count,Businesses,23337,2015
12,Total,Total employees,Export,K02000001,Total,Count,Businesses,143358,2015
13,Total,Total employees,Import,K02000001,Total,Count,Businesses,219302,2015
...,...,...,...,...,...,...,...,...,...
92,Total,250 + employees,Export,K02000001,group-8,Total Turnover,£ Million,19537,2015
93,Total,250 + employees,Import,K02000001,group-8,Total Turnover,£ Million,8192,2015
96,Total,No employees,Export,K02000001,group-9,Total Turnover,£ Million,289,2015
97,Total,No employees,Import,K02000001,group-9,Total Turnover,£ Million,646,2015
98,Total,1 to 9 employees,Export,K02000001,group-9,Total Turnover,£ Million,707,2015
99,Total,1 to 9 employees,Import,K02000001,group-9,Total Turnover,£ Million,779,2015
100,Total,10 to 49 employees,Export,K02000001,group-9,Total Turnover,£ Million,2175,2015
101,Total,10 to 49 employees,Import,K02000001,group-9,Total Turnover,£ Million,1838,2015
102,Total,50 to 249 employees,Export,K02000001,group-9,Total Turnover,£ Million,5421,2015
103,Total,50 to 249 employees,Import,K02000001,group-9,Total Turnover,£ Million,3845,2015
104,Total,250 + employees,Export,K02000001,group-9,Total Turnover,£ Million,6096,2015
105,Total,250 + employees,Import,K02000001,group-9,Total Turnover,£ Million,5424,2015
106,Total,Unknown employees,Export,K02000001,group-9,Total Turnover,£ Million,100,2015
107,Total,Unknown employees,Import,K02000001,group-9,Total Turnover,£ Million,99,2015
108,Total,No employees,Export,K02000001,group-10,Total Turnover,£ Million,25234,2015
109,Total,No employees,Import,K02000001,group-10,Total Turnover,£ Million,40980,2015
110,Total,1 to 9 employees,Export,K02000001,group-10,Total Turnover,£ Million,13577,2015
111,Total,1 to 9 employees,Import,K02000001,group-10,Total Turnover,£ Million,24047,2015
112,Total,10 to 49 employees,Export,K02000001,group-10,Total Turnover,£ Million,16038,2015
113,Total,10 to 49 employees,Import,K02000001,group-10,Total Turnover,£ Million,40321,2015
114,Total,50 to 249 employees,Export,K02000001,group-10,Total Turnover,£ Million,17950,2015
115,Total,50 to 249 employees,Import,K02000001,group-10,Total Turnover,£ Million,48139,2015
116,Total,250 + employees,Export,K02000001,group-10,Total Turnover,£ Million,59178,2015
117,Total,250 + employees,Import,K02000001,group-10,Total Turnover,£ Million,124350,2015
118,Total,Unknown employees,Export,K02000001,group-10,Total Turnover,£ Million,9542,2015
119,Total,Unknown employees,Import,K02000001,group-10,Total Turnover,£ Million,4288,2015
120,Total,Unknown employees,Export,K02000001,Unknown,Total Turnover,£ Million,11160,2015
121,Total,Unknown employees,Import,K02000001,Unknown,Total Turnover,£ Million,6459,2015
122,Total,Total employees,Export,K02000001,Total,Total Turnover,£ Million,304768,2015
123,Total,Total employees,Import,K02000001,Total,Total Turnover,£ Million,411033,2015

Rationalise the codes used in each dimension

In [7]:
for d in final_table:
    if d not in ['Value']:
        display(d)
        display(final_table[d].unique())

'Age of Business'

array(['0 to 1 years', '2 to 3 years', '4 to 5 years', '6 to 9 years',
       '10 to 20 years', '20 + years', 'Unknown years', 'Total years',
       'Total', ' years', '6 to 9  years', 'years'], dtype=object)

'Employment'

array(['Total', '0 employees', '1 to 9 employees', '10 to 49 employees',
       '50 to 249 employees', '250 + employees', 'Unknown employees',
       'Total employees', 'Grand Total employees', 'No employees'],
      dtype=object)

'Flow'

array(['Export', 'Import'], dtype=object)

'Geography'

array(['K02000001'], dtype=object)

'HMRC Industry'

array(['Total', 'group-1', 'group-2', 'group-3', 'group-4', 'group-5',
       'group-6', 'group-7', 'group-8', 'group-9', 'group-10', 'Unknown'],
      dtype=object)

'Measure Type'

array(['Count', 'Total Turnover'], dtype=object)

'Unit'

array(['Businesses', 'Employees', '£ Million'], dtype=object)

'Year'

array(['2015'], dtype=object)

In [8]:
final_table['Employment'] = final_table['Employment'].map(pathify)
final_table['HMRC Industry'] = final_table['HMRC Industry'].map(pathify)
final_table.replace({
    'Employment': {
        'total': 'total-employees',
        'grand-total-employees': 'total-employees',
        'no-employees': '0-employees'
    },
    'Flow': {
        'Export': 'Exports',
        'Import': 'Imports'
    },
    'Unit': {
        '£ Million': 'GBP Million'
    },
    'Age of Business': {
        'Total years': 'Total',
        '20 + years': '20+ years',
        'Unknown years': 'Unknown',
        '6 to 9  years': '6 to 9 years',
        ' years': 'Total',
        'years': 'Total'
    }
}, inplace=True)

for d in final_table:
    if d not in ['Value']:
        display(d)
        display(final_table[d].unique())

'Age of Business'

array(['0 to 1 years', '2 to 3 years', '4 to 5 years', '6 to 9 years',
       '10 to 20 years', '20+ years', 'Unknown', 'Total'], dtype=object)

'Employment'

array(['total-employees', '0-employees', '1-to-9-employees',
       '10-to-49-employees', '50-to-249-employees', '250-employees',
       'unknown-employees'], dtype=object)

'Flow'

array(['Exports', 'Imports'], dtype=object)

'Geography'

array(['K02000001'], dtype=object)

'HMRC Industry'

array(['total', 'group-1', 'group-2', 'group-3', 'group-4', 'group-5',
       'group-6', 'group-7', 'group-8', 'group-9', 'group-10', 'unknown'],
      dtype=object)

'Measure Type'

array(['Count', 'Total Turnover'], dtype=object)

'Unit'

array(['Businesses', 'Employees', 'GBP Million'], dtype=object)

'Year'

array(['2015'], dtype=object)

Distinguish measure types for business and employee counts

In [9]:
final_table.loc[(final_table['Measure Type'] == 'Count') & (final_table['Unit'] == 'Businesses'),
               'Measure Type'] = 'Count of Businesses'
final_table.loc[(final_table['Measure Type'] == 'Count') & (final_table['Unit'] == 'Employees'),
               'Measure Type'] = 'Count of Employees'
final_table.reset_index(inplace=True)
final_table

,index,Age of Business,Employment,Flow,Geography,HMRC Industry,Measure Type,Unit,Value,Year
0,0,0 to 1 years,total-employees,Exports,K02000001,total,Count of Businesses,Businesses,10515,2015
1,1,0 to 1 years,total-employees,Imports,K02000001,total,Count of Businesses,Businesses,21541,2015
2,2,2 to 3 years,total-employees,Exports,K02000001,total,Count of Businesses,Businesses,13308,2015
3,3,2 to 3 years,total-employees,Imports,K02000001,total,Count of Businesses,Businesses,22043,2015
4,4,4 to 5 years,total-employees,Exports,K02000001,total,Count of Businesses,Businesses,12088,2015
5,5,4 to 5 years,total-employees,Imports,K02000001,total,Count of Businesses,Businesses,18430,2015
6,6,6 to 9 years,total-employees,Exports,K02000001,total,Count of Businesses,Businesses,20136,2015
7,7,6 to 9 years,total-employees,Imports,K02000001,total,Count of Businesses,Businesses,29117,2015
8,8,10 to 20 years,total-employees,Exports,K02000001,total,Count of Businesses,Businesses,36292,2015
9,9,10 to 20 years,total-employees,Imports,K02000001,total,Count of Businesses,Businesses,49196,2015
10,10,20+ years,total-employees,Exports,K02000001,total,Count of Businesses,Businesses,40773,2015
11,11,20+ years,total-employees,Imports,K02000001,total,Count of Businesses,Businesses,53659,2015
12,12,Unknown,total-employees,Exports,K02000001,total,Count of Businesses,Businesses,10246,2015
13,13,Unknown,total-employees,Imports,K02000001,total,Count of Businesses,Businesses,25316,2015
14,14,Total,total-employees,Exports,K02000001,total,Count of Businesses,Businesses,143358,2015
15,15,Total,total-employees,Imports,K02000001,total,Count of Businesses,Businesses,219302,2015
16,0,Total,0-employees,Exports,K02000001,total,Count of Businesses,Businesses,9156,2015
17,1,Total,0-employees,Imports,K02000001,total,Count of Businesses,Businesses,14983,2015
18,2,Total,1-to-9-employees,Exports,K02000001,total,Count of Businesses,Businesses,77281,2015
19,3,Total,1-to-9-employees,Imports,K02000001,total,Count of Businesses,Businesses,117876,2015
20,4,Total,10-to-49-employees,Exports,K02000001,total,Count of Businesses,Businesses,33128,2015
21,5,Total,10-to-49-employees,Imports,K02000001,total,Count of Businesses,Businesses,45094,2015
22,6,Total,50-to-249-employees,Exports,K02000001,total,Count of Businesses,Businesses,10579,2015
23,7,Total,50-to-249-employees,Imports,K02000001,total,Count of Businesses,Businesses,13566,2015
24,8,Total,250-employees,Exports,K02000001,total,Count of Businesses,Businesses,3468,2015
25,9,Total,250-employees,Imports,K02000001,total,Count of Businesses,Businesses,4446,2015
26,10,Total,unknown-employees,Exports,K02000001,total,Count of Businesses,Businesses,9746,2015
27,11,Total,unknown-employees,Imports,K02000001,total,Count of Businesses,Businesses,23337,2015
28,12,Total,total-employees,Exports,K02000001,total,Count of Businesses,Businesses,143358,2015
29,13,Total,total-employees,Imports,K02000001,total,Count of Businesses,Businesses,219302,2015
...,...,...,...,...,...,...,...,...,...,...
941,92,Total,250-employees,Exports,K02000001,group-8,Total Turnover,GBP Million,19537,2015
942,93,Total,250-employees,Imports,K02000001,group-8,Total Turnover,GBP Million,8192,2015
943,96,Total,0-employees,Exports,K02000001,group-9,Total Turnover,GBP Million,289,2015
944,97,Total,0-employees,Imports,K02000001,group-9,Total Turnover,GBP Million,646,2015
945,98,Total,1-to-9-employees,Exports,K02000001,group-9,Total Turnover,GBP Million,707,2015
946,99,Total,1-to-9-employees,Imports,K02000001,group-9,Total Turnover,GBP Million,779,2015
947,100,Total,10-to-49-employees,Exports,K02000001,group-9,Total Turnover,GBP Million,2175,2015
948,101,Total,10-to-49-employees,Imports,K02000001,group-9,Total Turnover,GBP Million,1838,2015
949,102,Total,50-to-249-employees,Exports,K02000001,group-9,Total Turnover,GBP Million,5421,2015
950,103,Total,50-to-249-employees,Imports,K02000001,group-9,Total Turnover,GBP Million,3845,2015
951,104,Total,250-employees,Exports,K02000001,group-9,Total Turnover,GBP Million,6096,2015
952,105,Total,250-employees,Imports,K02000001,group-9,Total Turnover,GBP Million,5424,2015
953,106,Total,unknown-employees,Exports,K02000001,group-9,Total Turnover,GBP Million,100,2015
954,107,Total,unknown-employees,Imports,K02000001,group-9,Total Turnover,GBP Million,99,2015
955,108,Total,0-employees,Exports,K02000001,group-10,Total Turnover,GBP Million,25234,2015
956,109,Total,0-employees,Imports,K02000001,group-10,Total Turnover,GBP Million,40980,2015
957,110,Total,1-to-9-employees,Exports,K02000001,group-10,Total Turnover,GBP Million,13577,2015
958,111,Total,1-to-9-employees,Imports,K02000001,group-10,Total Turnover,GBP Million,24047,2015
959,112,Total,10-to-49-employees,Exports,K02000001,group-10,Total Turnover,GBP Million,16038,2015
960,113,Total,10-to-49-employees,Imports,K02000001,group-10,Total Turnover,GBP Million,40321,2015
961,114,Total,50-to-249-employees,Exports,K02000001,group-10,Total Turnover,GBP Million,17950,2015
962,115,Total,50-to-249-employees,Imports,K02000001,group-10,Total Turnover,GBP Million,48139,2015
963,116,Total,250-employees,Exports,K02000001,group-10,Total Turnover,GBP Million,59178,2015
964,117,Total,250-employees,Imports,K02000001,group-10,Total Turnover,GBP Million,124350,2015
965,118,Total,unknown-employees,Exports,K02000001,group-10,Total Turnover,GBP Million,9542,2015
966,119,Total,unknown-employees,Imports,K02000001,group-10,Total Turnover,GBP Million,4288,2015
967,120,Total,unknown-employees,Exports,K02000001,unknown,Total Turnover,GBP Million,11160,2015
968,121,Total,unknown-employees,Imports,K02000001,unknown,Total Turnover,GBP Million,6459,2015
969,122,Total,total-employees,Exports,K02000001,total,Total Turnover,GBP Million,304768,2015
970,123,Total,total-employees,Imports,K02000001,total,Total Turnover,GBP Million,411033,2015

In [10]:
final_table = final_table[['Geography','Year','Employment','Flow','Age of Business','HMRC Industry','Measure Type','Value','Unit']].copy()
final_table.drop_duplicates(inplace=True)
final_table

,Geography,Year,Employment,Flow,Age of Business,HMRC Industry,Measure Type,Value,Unit
0,K02000001,2015,total-employees,Exports,0 to 1 years,total,Count of Businesses,10515,Businesses
1,K02000001,2015,total-employees,Imports,0 to 1 years,total,Count of Businesses,21541,Businesses
2,K02000001,2015,total-employees,Exports,2 to 3 years,total,Count of Businesses,13308,Businesses
3,K02000001,2015,total-employees,Imports,2 to 3 years,total,Count of Businesses,22043,Businesses
4,K02000001,2015,total-employees,Exports,4 to 5 years,total,Count of Businesses,12088,Businesses
5,K02000001,2015,total-employees,Imports,4 to 5 years,total,Count of Businesses,18430,Businesses
6,K02000001,2015,total-employees,Exports,6 to 9 years,total,Count of Businesses,20136,Businesses
7,K02000001,2015,total-employees,Imports,6 to 9 years,total,Count of Businesses,29117,Businesses
8,K02000001,2015,total-employees,Exports,10 to 20 years,total,Count of Businesses,36292,Businesses
9,K02000001,2015,total-employees,Imports,10 to 20 years,total,Count of Businesses,49196,Businesses
10,K02000001,2015,total-employees,Exports,20+ years,total,Count of Businesses,40773,Businesses
11,K02000001,2015,total-employees,Imports,20+ years,total,Count of Businesses,53659,Businesses
12,K02000001,2015,total-employees,Exports,Unknown,total,Count of Businesses,10246,Businesses
13,K02000001,2015,total-employees,Imports,Unknown,total,Count of Businesses,25316,Businesses
14,K02000001,2015,total-employees,Exports,Total,total,Count of Businesses,143358,Businesses
15,K02000001,2015,total-employees,Imports,Total,total,Count of Businesses,219302,Businesses
16,K02000001,2015,0-employees,Exports,Total,total,Count of Businesses,9156,Businesses
17,K02000001,2015,0-employees,Imports,Total,total,Count of Businesses,14983,Businesses
18,K02000001,2015,1-to-9-employees,Exports,Total,total,Count of Businesses,77281,Businesses
19,K02000001,2015,1-to-9-employees,Imports,Total,total,Count of Businesses,117876,Businesses
20,K02000001,2015,10-to-49-employees,Exports,Total,total,Count of Businesses,33128,Businesses
21,K02000001,2015,10-to-49-employees,Imports,Total,total,Count of Businesses,45094,Businesses
22,K02000001,2015,50-to-249-employees,Exports,Total,total,Count of Businesses,10579,Businesses
23,K02000001,2015,50-to-249-employees,Imports,Total,total,Count of Businesses,13566,Businesses
24,K02000001,2015,250-employees,Exports,Total,total,Count of Businesses,3468,Businesses
25,K02000001,2015,250-employees,Imports,Total,total,Count of Businesses,4446,Businesses
26,K02000001,2015,unknown-employees,Exports,Total,total,Count of Businesses,9746,Businesses
27,K02000001,2015,unknown-employees,Imports,Total,total,Count of Businesses,23337,Businesses
30,K02000001,2015,total-employees,Exports,Total,group-1,Count of Businesses,6847,Businesses
31,K02000001,2015,total-employees,Imports,Total,group-1,Count of Businesses,11637,Businesses
...,...,...,...,...,...,...,...,...,...
939,K02000001,2015,50-to-249-employees,Exports,Total,group-8,Total Turnover,333,GBP Million
940,K02000001,2015,50-to-249-employees,Imports,Total,group-8,Total Turnover,165,GBP Million
941,K02000001,2015,250-employees,Exports,Total,group-8,Total Turnover,19537,GBP Million
942,K02000001,2015,250-employees,Imports,Total,group-8,Total Turnover,8192,GBP Million
943,K02000001,2015,0-employees,Exports,Total,group-9,Total Turnover,289,GBP Million
944,K02000001,2015,0-employees,Imports,Total,group-9,Total Turnover,646,GBP Million
945,K02000001,2015,1-to-9-employees,Exports,Total,group-9,Total Turnover,707,GBP Million
946,K02000001,2015,1-to-9-employees,Imports,Total,group-9,Total Turnover,779,GBP Million
947,K02000001,2015,10-to-49-employees,Exports,Total,group-9,Total Turnover,2175,GBP Million
948,K02000001,2015,10-to-49-employees,Imports,Total,group-9,Total Turnover,1838,GBP Million
949,K02000001,2015,50-to-249-employees,Exports,Total,group-9,Total Turnover,5421,GBP Million
950,K02000001,2015,50-to-249-employees,Imports,Total,group-9,Total Turnover,3845,GBP Million
951,K02000001,2015,250-employees,Exports,Total,group-9,Total Turnover,6096,GBP Million
952,K02000001,2015,250-employees,Imports,Total,group-9,Total Turnover,5424,GBP Million
953,K02000001,2015,unknown-employees,Exports,Total,group-9,Total Turnover,100,GBP Million
954,K02000001,2015,unknown-employees,Imports,Total,group-9,Total Turnover,99,GBP Million
955,K02000001,2015,0-employees,Exports,Total,group-10,Total Turnover,25234,GBP Million
956,K02000001,2015,0-employees,Imports,Total,group-10,Total Turnover,40980,GBP Million
957,K02000001,2015,1-to-9-employees,Exports,Total,group-10,Total Turnover,13577,GBP Million
958,K02000001,2015,1-to-9-employees,Imports,Total,group-10,Total Turnover,24047,GBP Million
959,K02000001,2015,10-to-49-employees,Exports,Total,group-10,Total Turnover,16038,GBP Million
960,K02000001,2015,10-to-49-employees,Imports,Total,group-10,Total Turnover,40321,GBP Million
961,K02000001,2015,50-to-249-employees,Exports,Total,group-10,Total Turnover,17950,GBP Million
962,K02000001,2015,50-to-249-employees,Imports,Total,group-10,Total Turnover,48139,GBP Million
963,K02000001,2015,250-employees,Exports,Total,group-10,Total Turnover,59178,GBP Million
964,K02000001,2015,250-employees,Imports,Total,group-10,Total Turnover,124350,GBP Million
965,K02000001,2015,unknown-employees,Exports,Total,group-10,Total Turnover,9542,GBP Million
966,K02000001,2015,unknown-employees,Imports,Total,group-10,Total Turnover,4288,GBP Million
967,K02000001,2015,unknown-employees,Exports,Total,unknown,Total Turnover,11160,GBP Million
968,K02000001,2015,unknown-employees,Imports,Total,unknown,Total Turnover,6459,GBP Million

In [15]:
final_table = final_table[(final_table['Measure Type'] != 'Total Turnover')]

In [16]:
out = Path('out')
out.mkdir(exist_ok=True)
final_table.to_csv(out / 'observations.csv', index = False)

In [17]:
scraper.dataset.family = 'trade'
from gssutils.metadata import THEME
scraper.dataset.theme = THEME['business-industry-trade-energy']
with open(out / 'dataset.trig', 'wb') as metadata:
    metadata.write(scraper.generate_trig())